.js-hidden-element {
  display: none;
}

.js-flex-element {
  display: flex;
}

.js-selected-item {
  padding: 8px;
  border: 2px #396793 solid;
  color: black;
  background-color: #eff4f8;
}

.js-right-zero {
  right: 0;
}

.js-filter-off {
  background-color: #eff4f8;
  border: 3px #eff4f8 solid;
}

.js-asc-sort-btn {
  background-image: url("../icons/sort-asc.svg");
  padding: 0;
  border: 1px black solid;
}
.js-asc-sort-btn:active {
  background-image: url("../icons/sort-asc-active.svg");
}

.js-desc-sort-btn {
  background-image: url("../icons/sort-desc.svg");
  padding: 0;
  border: 1px black solid;
}
.js-desc-sort-btn:active {
  background-image: url("../icons/sort-desc-active.svg");
}

.js-error-field-wrapper:focus-within::after {
  opacity: 1;
}
.js-error-field-wrapper::after {
  padding: 2px;
  position: absolute;
  z-index: 6;
  max-width: 100%;
  top: 100%;
  left: 0;
  content: attr(data-error-msg);
  color: black;
  background-color: #ffdfe3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.js-error-field {
  border: 3px solid red;
  padding: 2px;
}

.js-error-search-field {
  background-color: #fff8f9;
}
