.global-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  display: flex;
}

.stores-list-wrapper {
  position: relative;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.stores-list-header {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eff4f8;
  border-bottom: 2px #cfdfec solid;
}

.stores-list-header__main-headline-stub {
  height: 20px;
  background-color: #eff4f8;
  margin-bottom: 20px;
}

.stores-list-header__main-headline {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  max-width: 304px;
  width: 100%;
  background-color: #eff4f8;
  font-family: "Roboto";
  font-size: 20px;
}

.stores-list-header__search-wrapper {
  position: relative;
}

.stores-list-header__search-line {
  margin-bottom: 4px;
  padding: 2px 50px 2px 2px;
  width: 100%;
  height: 28px;
  font-family: "Roboto";
  font-size: 16px;
}
.stores-list-header__search-line::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.stores-list-header__search-btn {
  position: absolute;
  right: 30px;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: url(../icons/icon-search.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.stores-list-header__search-btn:hover {
  transform: scale(1.1);
}

.stores-list-header__refresh-btn {
  position: absolute;
  right: 5px;
  top: 4px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background: url(../icons/icon-refresh.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.stores-list-header__refresh-btn:hover {
  transform: scale(1.1);
}

.top-arrow-btn {
  position: absolute;
  z-index: 2;
  bottom: -10px;
  left: calc(50% - 32px);
  width: 30px;
  height: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-image: url(../icons/icon-arrow-up.png);
  background-color: #d0e0ed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.top-arrow-btn:hover {
  transform: scale(1.1);
}

.pin-btn {
  position: absolute;
  z-index: 2;
  bottom: -10px;
  left: calc(50% + 2px);
  width: 30px;
  height: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-image: url(../icons/icon-thumbtack.png);
  background-color: #d0e0ed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.pin-btn:hover {
  transform: scale(1.1);
}

.stores-list-main {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stores-list-item {
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-top: 1px #e6e6e6 solid;
  border-bottom: 1px #e6e6e6 solid;
  cursor: pointer;
  transition: 0.3s;
}
.stores-list-item:hover {
  background-color: #efefef;
}

.stores-list-item__name-address-column {
  max-width: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.stores-list-item__name-headline {
  line-height: 1.5em;
  height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Roboto";
  font-size: 16px;
}

.stores-list-item__address-text {
  padding: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto";
  font-size: 12px;
}

.stores-list-item__area-data-column {
  max-width: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end;
}

.stores-list-item__area-number {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto";
  font-size: 18px;
}

.stores-list-item__area-unit {
  font-family: "Roboto";
  font-size: 12px;
}

.stores-list-footer {
  padding: 7px;
  position: sticky;
  left: 7px;
  bottom: 7px;
  max-width: calc(100% - 14px);
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px;
  background-color: rgba(48, 64, 76, 0.9);
}

.footer-create-btn {
  padding: 5px;
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-size: 14px;
  color: #c4d1da;
  background-color: #435563;
  border-radius: 5px;
  border: 2px #c4d1da solid;
  cursor: pointer;
  transition: 0.3s;
}
.footer-create-btn:hover {
  transform: scale(1.05);
}

.footer-create-btn__icon-plus {
  width: 16px;
  height: 16px;
  background: url(../icons/icon-plus.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-create-btn__text-create {
  font-family: "Roboto";
  font-size: 14px;
}

.store-details-wrapper {
  position: relative;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.store-details-header {
  display: flex;
  flex-direction: column;
  background-color: #eff4f8;
}

.store-details-header__store-info-wrapper {
  position: relative;
  padding: 10px 40px 15px;
  display: flex;
  flex-direction: column;
}

.store-details-header__main-headline {
  margin-bottom: 35px;
  font-family: "Roboto";
  font-size: 20px;
}

.store-details-header__description-wrapper {
  max-width: 700px;
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.store-details-header__email-wrapper {
  display: flex;
  column-gap: 5px;
}

.store-details-header__email-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
}

.store-details-header__email-data {
  font-family: "Roboto";
  font-size: 16px;
}

.store-details-header__est-date-wrapper {
  display: flex;
  column-gap: 5px;
}

.store-details-header__est-date-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
}

.store-details-header__est-date-data {
  font-family: "Roboto";
  font-size: 16px;
}

.store-details-header__phone-wrapper {
  display: flex;
  column-gap: 5px;
}

.store-details-header__phone-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
}

.store-details-header__phone-data {
  font-family: "Roboto";
  font-size: 16px;
}

.store-details-header__floor-area-wrapper {
  display: flex;
  column-gap: 5px;
}

.store-details-header__floor-area-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
}

.store-details-header__floor-area-data {
  font-family: "Roboto";
  font-size: 16px;
}

.store-details-header__address-wrapper {
  display: flex;
  column-gap: 5px;
}

.store-details-header__address-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
}

.store-details-header__address-data {
  font-family: "Roboto";
  font-size: 16px;
}

.store-details-header__filters-wrapper {
  padding-inline: 30px;
  display: flex;
  column-gap: 10px;
  border-top: 2px #cfdfec solid;
  border-bottom: 2px #cfdfec solid;
}

.store-details-header__all-products-btn {
  padding-block: 15px;
  max-width: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 10px;
  background-color: #eff4f8;
  border-top: 2px #eff4f8 solid;
  border-inline: 2px #eff4f8 solid;
  border-bottom: 2px #376f9e solid;
  cursor: pointer;
  transition: 0.3s;
}
.store-details-header__all-products-btn:hover {
  border: 2px #376f9e solid;
}

.store-details-header__products-amount {
  font-family: "Roboto";
  font-size: 24px;
}

.store-details-header__products-note {
  font-family: "Roboto";
  font-size: 12px;
}

.vertical-gray-separator {
  align-self: center;
  width: 2px;
  height: 30px;
  background-color: #e6e6e6;
}

.products-filter-btn {
  position: relative;
  max-width: 85px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #eff4f8;
  border: 2px #eff4f8 solid;
  cursor: pointer;
  transition: 0.3s;
}
.products-filter-btn:hover {
  border: 2px #376f9e solid;
}

.products-filter-btn__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.products-filter-btn__icon_ok {
  background: url(../icons/icon-ok.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.products-filter-btn__icon_warning {
  background: url(../icons/icon-warning.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.products-filter-btn__icon_error {
  background: url(../icons/icon-error.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.products-filter-btn__description {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto";
  font-size: 12px;
  white-space: nowrap;
}

.products-filter-btn__amount {
  position: absolute;
  right: 7px;
  top: 10px;
  font-family: "Roboto";
  font-size: 12px;
}

.store-details-main {
  margin-bottom: 5px;
  padding: 10px;
  flex-grow: 1;
}

.store-details-table {
  table-layout: fixed;
  width: 100%;
}

.store-details-table__head {
  background-color: #f7f7f7;
}

.store-details-table__table-name-row {
}

.store-details-table__table-name {
  padding: 10px;
  font-family: "Roboto";
  font-size: 20px;
  text-align: start;
  vertical-align: middle;
}

.store-details-table__product-specifications-row {
  border-block: 2px #e6e6e6 solid;
}

.store-details-table__product-name {
  padding: 10px;
  font-family: "Roboto";
  font-size: 16px;
  text-align: start;
  vertical-align: middle;
}

.store-details-table__product-price {
  padding: 10px;
  font-family: "Roboto";
  font-size: 16px;
  text-align: end;
  vertical-align: middle;
}

.store-details-table__product-specs {
  padding: 10px;
  font-family: "Roboto";
  font-size: 16px;
  text-align: start;
  vertical-align: middle;
}

.store-details-table__product-supplier-info {
  padding: 10px;
  font-family: "Roboto";
  font-size: 16px;
  text-align: start;
  vertical-align: middle;
}

.store-details-table__product-country-of-origin {
  padding: 10px;
  font-family: "Roboto";
  font-size: 16px;
  text-align: start;
  vertical-align: middle;
}

.store-details-table__product-prod-company {
  padding: 10px;
  font-family: "Roboto";
  font-size: 16px;
  text-align: start;
  vertical-align: middle;
}

.store-details-table__product-rating {
  padding: 10px;
  font-family: "Roboto";
  font-size: 16px;
  text-align: start;
  vertical-align: middle;
}

.store-details-table__body {
}

.product-table-item {
  border-block: 2px #e6e6e6 solid;
  cursor: pointer;
  transition: 0.3s;
}
.product-table-item:hover {
  background-color: #efefef;
}

.product-table-item__name {
  padding: 10px;
  vertical-align: middle;
}

.product-table-item__name-num-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.product-table-item__name-text {
  padding-block: 1px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__num-text {
  font-family: "Roboto";
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__price {
  padding: 10px;
  vertical-align: middle;
}

.product-table-item__price-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}

.product-table-item__price-value {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__price-currency {
  min-width: 24px;
  font-family: "Roboto";
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__specs {
  padding: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__specs-text {
  font-family: "Roboto";
  font-size: 12px;
}

.product-table-item__supplier-info {
  padding: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__supplier-info-text {
  font-family: "Roboto";
  font-size: 12px;
}

.product-table-item__country-of-origin {
  padding: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__country-of-origin-text {
  font-family: "Roboto";
  font-size: 12px;
}

.product-table-item__prod-company {
  padding: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-table-item__prod-company-text {
  font-family: "Roboto";
  font-size: 12px;
}

.product-table-item__rating {
  padding: 10px;
  vertical-align: middle;
}

.product-table-item__stars-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.yellow-star {
  width: 20px;
  height: 20px;
  background: url(../icons/icon-yellow-star.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.empty-star {
  width: 20px;
  height: 20px;
  background: url(../icons/icon-empty-star.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.right-arrow {
  margin-left: auto;
  width: 20px;
  height: 20px;
  background-image: url(../icons/icon-arrow-right.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.store-details-footer {
  padding: 7px;
  position: sticky;
  left: 7px;
  bottom: 7px;
  max-width: calc(100% - 14px);
  display: flex;
  flex-direction: row-reverse;
  column-gap: 8px;
  border-radius: 5px;
  background-color: rgba(48, 64, 76, 0.9);
}

.footer-delete-btn {
  padding: 5px;
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-size: 14px;
  color: #ec857c;
  background-color: #435563;
  border-radius: 5px;
  border: 2px #ec857c solid;
  cursor: pointer;
  transition: 0.3s;
}
.footer-delete-btn:hover {
  transform: scale(1.05);
}

.footer-delete-btn__icon-trash {
  width: 16px;
  height: 16px;
  background: url(../icons/icon-trash.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-delete-btn__text-delete {
  font-family: "Roboto";
  font-size: 14px;
}
