.global-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: "Roboto";
}

.stores-list-wrapper {
  position: relative;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
@media (max-width: 960px) {
  .stores-list-wrapper {
    display: none;
  }
}

.stores-list-header {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #eff4f8;
  border-bottom: 2px #cfdfec solid;
}

.stores-list-header__main-headline {
  margin-bottom: 20px;
  background-color: #eff4f8;
  font-size: 20px;
}

.stores-list-header__search-wrapper {
  position: relative;
  max-width: 283px;
}

.stores-list-header__search-line {
  margin-bottom: 4px;
  padding: 2px 54px 2px 2px;
  width: 100%;
  height: 28px;
  font-size: 16px;
}
.stores-list-header__search-line:focus {
  border: 2px solid black;
  outline: none;
}
.stores-list-header__search-line::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin-right: 0;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: url("../icons/icon-cross.svg") center / 28px no-repeat;
  transition: 0.3s;
}
.stores-list-header__search-line::-webkit-search-cancel-button:hover {
  background-color: #d9d9d9;
}
.stores-list-header__search-line::-webkit-search-cancel-button:active {
  transition: none;
  background: url("../icons/icon-cross-active.svg") center / 28px no-repeat;
}

.stores-list-header__search-btn {
  position: absolute;
  right: 28px;
  top: 0;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  background: url("../icons/icon-search.svg") center / 28px no-repeat;
  transition: 0.3s;
}
.stores-list-header__search-btn:hover {
  background-color: #d9d9d9;
}
.stores-list-header__search-btn:active {
  transition: none;
  background: url("../icons/icon-search-active.svg") center / 28px no-repeat;
}

.stores-list-header__refresh-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  background: url("../icons/icon-refresh.svg") center / 28px no-repeat;
  transition: 0.3s;
}
.stores-list-header__refresh-btn:hover {
  background-color: #d9d9d9;
}
.stores-list-header__refresh-btn:active {
  transition: none;
  background: url("../icons/icon-refresh-active.svg") center / 28px no-repeat;
}

.small-btns-wrapper {
  position: absolute;
  z-index: 3;
  bottom: -10px;
  left: calc(50%);
  transform: translate(-50%, 0);
  display: flex;
  column-gap: 4px;
}

.small-btn {
  width: 30px;
  height: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.small-btn:hover {
  transform: scale(1.1);
  background-color: #bbd2e5;
}
.small-btn_top-arrow {
  background: #d0e0ed url("../icons/icon-arrow-up.svg") no-repeat center /
    contain;
}
.small-btn_pin {
  background: #d0e0ed url("../icons/icon-thumbtack.svg") no-repeat center /
    contain;
}

.stores-list-section {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stores-list-section__main-layout {
  display: flex;
  flex-direction: column;
}

.stores-list-item {
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 1px #e6e6e6 solid;
  border-bottom: 1px #e6e6e6 solid;
  cursor: pointer;
  transition: 0.3s;
}
.stores-list-item:hover {
  background-color: #efefef;
}
.stores-list-item:active {
  transition: none;
  background-color: #396793;
  color: white;
}

.stores-list-item__name-address-wrapper {
  max-width: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
}

.stores-list-item__name-headline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 18px;
}

.stores-list-item__address-text {
  padding: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.stores-list-item__area-data-wrapper {
  max-width: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end;
}

.stores-list-item__area-number {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
}

.stores-list-item__area-unit {
  font-size: 12px;
}

.stores-list-footer {
  padding: 7px;
  position: sticky;
  z-index: 2;
  left: 7px;
  bottom: 7px;
  max-width: calc(100% - 14px);
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px;
  background-color: rgba(48, 64, 76, 0.9);
}

.footer-create-btn {
  padding: 5px;
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #c4d1da;
  background-color: #435563;
  border-radius: 5px;
  border: 2px #c4d1da solid;
  cursor: pointer;
  transition: 0.3s;
}
.footer-create-btn:hover {
  transform: scale(1.05);
}

.footer-create-btn__icon-plus {
  width: 16px;
  height: 16px;
  background: url("../icons/icon-plus.svg") no-repeat center/contain;
}

.footer-create-btn__text-create {
  font-size: 14px;
}

.store-details-wrapper {
  position: relative;
  max-width: 1600px;
  width: 100%;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fafafa;
}

.store-details-header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #eff4f8;
}

.store-details-header__store-info-wrapper {
  position: relative;
  padding: 10px 40px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.store-details-header__main-headline {
  background-color: #eff4f8;
  font-size: 20px;
}
@media (max-width: 960px) {
  .store-details-header__main-headline {
    max-width: 100%;
  }
}

.store-details-header__description-wrapper {
  position: relative;
  max-width: 500px;
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.store-details-header__field-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.store-details-header__field-label {
  font-size: 12px;
  font-weight: bold;
}

.store-details-header__field-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}
.store-details-header__field-data_email {
  max-width: 180px;
}
.store-details-header__field-data_est-date {
  max-width: 130px;
}
.store-details-header__field-data_phone {
  max-width: 140px;
}
.store-details-header__field-data_floor-area {
  max-width: 170px;
}
.store-details-header__field-data_address {
  max-width: 180px;
}

.store-details-header__filters-wrapper {
  position: relative;
  padding-inline: 30px 200px;
  display: flex;
  column-gap: 10px;
  border-top: 2px #cfdfec solid;
  border-bottom: 2px #cfdfec solid;
}

.products-filter-btn {
  max-width: 85px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.store-details-header__all-products-btn {
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  background-color: #d7e2eb;
  border-top: 3px #d7e2eb solid;
  border-inline: 3px #d7e2eb solid;
  border-bottom: 3px #376f9e solid;
}
.store-details-header__all-products-btn:hover {
  border: 3px #376f9e solid;
}

.store-details-header__products-amount {
  max-width: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
}

.store-details-header__products-note {
  font-size: 12px;
}

.vertical-gray-separator {
  align-self: center;
  width: 2px;
  height: 30px;
  background-color: #e6e6e6;
}

.products-spec-filter-btn {
  position: relative;
  padding-top: 14px;
  padding-bottom: 28px;
}
.products-spec-filter-btn_ok {
  background-color: #dbeedb;
  border-top: 3px #dbeedb solid;
  border-inline: 3px #dbeedb solid;
  border-bottom: 3px #4bae4f solid;
}
.products-spec-filter-btn_ok:hover {
  border: 3px #4bae4f solid;
}
.products-spec-filter-btn_warn {
  background-color: #fdf5e2;
  border-top: 3px #fdf5e2 solid;
  border-inline: 3px #fdf5e2 solid;
  border-bottom: 3px #f9d170 solid;
}
.products-spec-filter-btn_warn:hover {
  border: 3px #f9d170 solid;
}
.products-spec-filter-btn_error {
  background-color: #ffdfe3;
  border-top: 3px #ffdfe3 solid;
  border-inline: 3px #ffdfe3 solid;
  border-bottom: 3px #ff6073 solid;
}
.products-spec-filter-btn_error:hover {
  border: 3px #ff6073 solid;
}

.products-filter-btn__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.products-filter-btn__icon_ok {
  background: url("../icons/icon-ok.svg") no-repeat center/contain;
}
.products-filter-btn__icon_warning {
  background: url("../icons/icon-warning.svg") no-repeat center/contain;
}
.products-filter-btn__icon_error {
  background: url("../icons/icon-error.svg") no-repeat center/contain;
}

.products-filter-btn__description {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}

.products-filter-btn__amount {
  position: absolute;
  right: 7px;
  top: 10px;
  max-width: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.store-details-section {
  margin-bottom: 15px;
  flex-grow: 1;
}

.store-details-section__table-wrapper {
  padding: 10px;
  background-color: white;
  border-bottom: 2px #cfdfec solid;
}

.products-table {
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.products-table__head {
  background-color: #f7f7f7;
}

.product-table__name-search-wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-table__table-name-text {
  font-size: 24px;
  text-align: start;
}

.products-table__search-wrapper {
  position: relative;
  max-width: 250px;
  flex-grow: 1;
}

.products-table__search-line {
  padding: 2px 22px 2px 2px;
  width: 100%;
  height: 24px;
  font-size: 12px;
}
.products-table__search-line:focus {
  border: 2px solid black;
  outline: none;
}
.products-table__search-line::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin-right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../icons/icon-cross.svg") center / 24px no-repeat;
  transition: 0.3s;
}
.products-table__search-line::-webkit-search-cancel-button:hover {
  background-color: #d9d9d9;
}
.products-table__search-line::-webkit-search-cancel-button:active {
  transition: none;
  background: url("../icons/icon-cross-active.svg") center / 24px no-repeat;
}

.products-table__search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: url("../icons/icon-search.svg") center / 24px no-repeat;
  transition: 0.3s;
}
.products-table__search-btn:hover {
  background-color: #d9d9d9;
}
.products-table__search-btn:active {
  transition: none;
  background: url("../icons/icon-search-active.svg") center / 24px no-repeat;
}

.products-table__product-specifications-row {
  position: sticky;
  z-index: 1;
  top: 239px;
  background-color: #f7f7f7;
  border-block: 2px solid #e6e6e6;
  box-shadow: 0px 1px #e6e6e6, 0px -1px #e6e6e6;
}

.products-table__product-field {
  padding: 10px;
  vertical-align: middle;
}
@media (max-width: 1280px) {
  .products-table__product-field {
    padding-inline: 5px;
  }
}

.products-table__product-field-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2px;
}
.products-table__product-field-wrapper_end {
  justify-content: flex-end;
}

.products-table__product-field-sort-btn {
  padding: 1px;
  min-width: 24px;
  min-height: 24px;
  border: none;
  cursor: pointer;
  background: url("../icons/sort-default.svg") center / 24px no-repeat;
  transition: 0.3s;
}
.products-table__product-field-sort-btn:hover {
  padding: 0;
  border: 1px black solid;
  background-color: #d9d9d9;
}
.products-table__product-field-sort-btn:active {
  transition: none;
  background: url("../icons/sort-default-active.svg") center / 24px no-repeat;
}
@media (max-width: 1280px) {
  .products-table__product-field-sort-btn {
    min-width: 20px;
    min-height: 20px;
    background-size: 20px;
  }
  .products-table__product-field-sort-btn:active {
    background-size: 20px;
  }
}
@media (max-width: 1024px) {
  .products-table__product-field-sort-btn {
    min-width: 16px;
    min-height: 16px;
    background-size: 16px;
  }
  .products-table__product-field-sort-btn:active {
    background-size: 16px;
  }
}

.products-table__product-field-name {
  font-size: 14px;
  text-align: start;
}
@media (max-width: 1280px) {
  .products-table__product-field-name {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .products-table__product-field-name {
    font-size: 10px;
  }
}

.product-table-item {
  border-block: 2px #e6e6e6 solid;
  cursor: pointer;
  transition: 0.3s;
}
.product-table-item:hover {
  background-color: #efefef;
}

.product-table-empty-item {
  border-block: 2px #e6e6e6 solid;
}

.product-table-empty-item__no-data {
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.product-table-item__name,
.product-table-item__price,
.product-table-item__rating {
  padding: 10px;
  vertical-align: middle;
}
.product-table-item__standard-field {
  padding: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 1280px) {
  .product-table-item__name,
  .product-table-item__price,
  .product-table-item__rating,
  .product-table-item__standard-field {
    padding-inline: 5px;
  }
}

.product-table-item__name-num-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.product-table-item__name-text {
  padding-block: 1px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.product-table-item__num-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.product-table-item__price-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}

.product-table-item__price-value {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.product-table-item__price-currency {
  min-width: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.product-table-item__stars-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2px;
}
.product-table-item__stars-wrapper > *:nth-child(5) {
  margin-right: 10px;
}

.yellow-star {
  width: 20px;
  height: 20px;
  background: url("../icons/icon-yellow-star.svg") no-repeat center/contain;
}

.empty-star {
  width: 20px;
  height: 20px;
  background: url("../icons/icon-empty-star.svg") no-repeat center/contain;
}

.arrow-cross-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.right-arrow {
  width: 10px;
  height: 10px;
  background: url("../icons/icon-arrow-right.svg") no-repeat center/contain;
}

.cross-btn {
  margin-left: auto;
  width: 25px;
  height: 25px;
  background: url("../icons/icon-cross.svg") no-repeat center/contain;
}
.cross-btn:hover {
  background-color: #d9d9d9;
}
.cross-btn:active {
  transition: none;
  background: url("../icons/icon-cross-active.svg") no-repeat center/contain;
}

.product-table-item__standard-field-text {
  font-size: 12px;
}

.store-details-footer {
  padding: 7px;
  position: sticky;
  z-index: 2;
  left: 7px;
  bottom: 7px;
  max-width: calc(100% - 14px);
  display: flex;
  flex-direction: row-reverse;
  column-gap: 8px;
  border-radius: 5px;
  background-color: rgba(48, 64, 76, 0.9);
}

.footer-delete-btn {
  padding: 5px;
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #ec857c;
  background-color: #435563;
  border-radius: 5px;
  border: 2px #ec857c solid;
  cursor: pointer;
  transition: 0.3s;
}
.footer-delete-btn:hover {
  transform: scale(1.05);
}
.footer-delete-btn:disabled {
  transform: none;
  filter: grayscale(0.5);
}

.footer-delete-btn__icon-trash {
  width: 16px;
  height: 16px;
  background: url("../icons/icon-trash.svg") no-repeat center/contain;
}

.footer-delete-btn__text-delete {
  font-size: 14px;
}

.stores-list-section__no-data-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
}

.stores-list-section__no-data-img {
  max-width: 50px;
  max-height: 50px;
}

.stores-list-section__no-data-headline {
  font-size: 20px;
}

.stores-list-section__no-data-message {
  font-size: 16px;
  color: gray;
}

.no-store-details-wrapper {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfa;
}

.no-store-details-header {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #eff4f8;
}

.no-store-details-header__main-headline {
  font-size: 16px;
  color: gray;
}

.no-store-details-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
}

.no-store-details-main-section__img {
  max-width: 100px;
  max-height: 100px;
}

.no-store-details-main-section__headline {
  font-size: 20px;
}

.no-store-details-main-section__message {
  font-size: 16px;
  color: gray;
}

.store-not-found-wrapper {
  max-width: 1600px;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: #fbfbfa;
}

.store-not-found-header {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #eff4f8;
}

.store-not-found-header__main-headline {
  font-size: 16px;
  color: gray;
}

.store-not-found-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
}

.no-store-details-main-section__img {
  max-width: 100px;
  max-height: 100px;
}

.store-not-found-main-section__headline {
  font-size: 20px;
}

.store-not-found-main-section__message {
  font-size: 16px;
  color: gray;
}

.modal-window {
  position: fixed;
  z-index: 4;
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
}

.modal-window__wrapper {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}
@media (max-height: 700px) {
  .modal-window__wrapper {
    max-height: 80vh;
    overflow-y: auto;
  }
}

.modal-window__headline {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 18px;
  color: gray;
  border-bottom: 1px #e6e6e6 solid;
  text-align: center;
  vertical-align: middle;
}

.modal-window__headline-icon {
  width: 20px;
  height: 20px;
  background: url("../icons/icon-question.svg") center / 20px no-repeat;
}

.modal-window__headline-text {
  font-size: 18px;
}

.modal-window__form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.modal-window__field-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.modal-window__field-label {
  font-size: 16px;
  color: gray;
}
.modal-window__field-label_mandatory::before {
  content: "*";
  color: red;
}

.modal-window__field-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.modal-window__field-input {
  flex-grow: 1;
  padding: 4px;
  font-size: 16px;
  border: 1px solid black;
}
.modal-window__field-input::placeholder {
  font-style: italic;
}
.modal-window__field-input_date {
  height: 35px;
}

.modal-window__field-input-mark {
  font-size: 16px;
}

.resize-none {
  resize: none;
}

.modal-window__text-wrapper {
  padding: 20px;
  text-align: center;
}

.modal-window__question-message {
  font-size: 16px;
}

.modal-window__btns-wrapper {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
  background-color: #2c3744;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-window__btn {
  padding: 5px;
  font-size: 16px;
  max-width: 80px;
  width: 100%;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}
.modal-window__btn:hover {
  background-color: #3c6d9c;
  border: 3px #3c6d9c solid;
}
.modal-window__btn:active {
  transition: none;
  color: #3c6d9c;
  background-color: #8fbfeb;
}
.modal-window__btn_confirm {
  background-color: #4c89c3;
  border: 3px #4c89c3 solid;
}
.modal-window__btn_cancel {
  background-color: #2c3744;
  border: 3px #2c3744 solid;
}

.error-modal-window {
  position: fixed;
  z-index: 5;
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
}

.error-modal-window__wrapper {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}
@media (max-height: 700px) {
  .error-modal-window__wrapper {
    max-height: 80vh;
    overflow-y: auto;
  }
}

.error-modal-window__headline {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 18px;
  color: gray;
  border-bottom: 1px #e6e6e6 solid;
  text-align: center;
  vertical-align: middle;
}

.error-modal-window__headline-icon {
  width: 20px;
  height: 20px;
  background: url("../icons/icon-error.svg") center / 20px no-repeat;
}

.error-modal-window__headline-text {
  font-size: 18px;
}

.error-modal-window__text-wrapper {
  padding: 20px;
  text-align: center;
}

.error-modal-window__question-message {
  font-size: 16px;
}

.error-modal-window__btns-wrapper {
  padding: 8px;
  display: flex;
  justify-content: center;
  background-color: #2c3744;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.error-modal-window__ok-btn {
  padding: 5px;
  font-size: 16px;
  max-width: 100px;
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: #4c89c3;
  border: 3px #4c89c3 solid;
  border-radius: 5px;
  transition: 0.3s;
}
.error-modal-window__ok-btn:hover {
  background-color: #3c6d9c;
  border: 3px #3c6d9c solid;
}
.error-modal-window__ok-btn:active {
  transition: none;
  color: #3c6d9c;
  background-color: #8fbfeb;
}

.stores-list-section__loading-data-layout {
  padding: 20px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: white;
  opacity: 0.9;
}
.stores-list-section__loading-data-text {
  font-size: 20px;
}
.loading-spinner {
  width: 70px;
  display: flex;
  column-gap: 5px;
}
.loading-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #0099ff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.loading-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.5);
  }
  40% {
    -webkit-transform: scale(0.9);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  40% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.popop-wrapper {
  position: fixed;
  bottom: 4%;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  max-width: 500px;
  width: 100%;
}
.popup {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 10px;
  transition: opacity 2s ease;
  opacity: 0.9;
  font-family: "Roboto";
}
.popup__text {
  font-size: 18px;
  text-align: center;
}
